*{
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}
h1{
    font-size: 3rem;
/* animation: goup 1s ease-in 0.1s infinite forwards normal; */
margin-top: 20rem;
text-align: center;
/* 
animation-name: scale, spin ;
animation-duration: 3s;
animation-timing-function: linear;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-fill-mode: forwards;
transform-origin: center; */

}

div{
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 0 auto;
    animation: goup 1s 0s 1, spinScale  3s 1s ;
animation-duration: 3s;
animation-timing-function: linear;
animation-iteration-count: infinite;
animation-direction: normal;
animation-fill-mode: both;
transform-origin: center;
}

@keyframes goup {
    from {
        opacity: 0;
        transform: translateY(0);
    }
    to{
        opacity: 1;
        transform: translateY(-100%);
    }
    
}

@keyframes spinScale{
    0%,
     100%{
        transform: rotate(0deg) scale(1);
    }
    50%{
        transform: rotate(360deg) scale(1.5);
    }

}
/* @keyframes scale{
    from{
        transform: scale(0.5),;
    }
    to{
        transform: scale(2.5);
    }

} */